# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
Pipfile.lock
app_debug.log

# Models
*.safetensors
*.bin
*.h5
env/
venv/
.env/
.venv/
Pipfile.lock
app_debug.log

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.next/

# OS
.DS_Store
Thumbs.db
